<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="
    	http://www.springframework.org/schema/mvc
     	http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd 
		http://www.springframework.org/schema/task 
		http://www.springframework.org/schema/task/spring-task-3.0.xsd">
	
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
	
	<bean id="contentNegotiationManager"
		class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<property name="favorPathExtension" value="true" /><!-- /wechat/getDerbyLookup.json -->
		<property name="favorParameter" value="true" />
		<property name="parameterName" value="format" /><!-- /wechat/getDerbyLookup?format=json -->
		<property name="ignoreAcceptHeader" value="false" /><!-- Accept: application/xml -->
		<property name="useJaf" value="false" />
		<property name="defaultContentType" value="application/json" /> <!-- postman have difference with soapui -->

		<property name="mediaTypes">
			<map>
				<entry key="json" value="application/json" />
				<entry key="xml" value="application/xml" />
			</map>
		</property>
	</bean>
 
	<!-- Scan to Export XML node -->
 	<bean id="marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">  
		<property name="packagesToScan">  
			<list> 
				<value>com.wdxxl.wechat.model</value>  
			</list>
		</property>  
	</bean>
	
    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager">
		<mvc:message-converters register-defaults="false">
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8"></constructor-arg>
			</bean>
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
			<bean
				class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter"
				p:marshaller-ref="marshaller" p:unmarshaller-ref="marshaller">
				<property name="supportedMediaTypes">
					<list>
						<value>application/xml;charset=UTF-8</value>
						<value>text/xml;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- Component Scan to Controller -->
	<context:component-scan base-package="com.wdxxl.wechat.controller" >
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/> 
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/> 
	</context:component-scan>
	
	<!-- add Spring scheduled-tasks -->
	<task:scheduled-tasks> 
		<task:scheduled ref="tokenService" method="retrieveNewAccessToken" cron="0 0 0/1 * * ?"/> 
	</task:scheduled-tasks>
	
	<!-- Static File Access -->
	<mvc:resources location="/resource/"  mapping="/resource/**" /> 
	
	
</beans>